body{ margin: 0;
background-color: #FAFAFA;
}

h2{
  font-family:"Reenie Beanie";
  font-size:45px;
  text-align: center;
  padding-bottom:50px;
  //background-color: red;
}
p{
  font-family:"Reenie Beanie";
  font-size:30px;
  color:white;
}
ul{
  display: grid | inline-grid;
  margin: 0;
}
ul li{
  display: inline-block;
  list-style-type: none;
  font-family:"Reenie Beanie";
  font-size:30px;
  margin: 20px 60px;
}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  width: 33.33%;
  //background-color: lightgreen;
  background-image: url("images/universal.jpg");
  background-repeat: no-repeat;
  background-size:400px;
  //background-position: fixed;
  height:300px;
}
.col-1-3:hover, .col-2-3:hover, .col-3-3:hover{
  opacity: 0.5;
}
.col-2-3 {
  width: 33.33%;
  //background-color: lightblue;
  background-image: url("images/rafting.png");
  background-repeat: no-repeat;
  background-size:400px;
  //background-position: fixed;
  height:300px;
}
.col-3-3 {
  width: 33.33%;
  //background-color: pink;
  background-image: url("images/taylor_con2.jpg");
  background-repeat: no-repeat;
  background-size:400px;
  //background-position: fixed;
  height:300px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;

}
.test{
  margin-left:40px;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

#b4{
  display:inherit;
  text-align: center;
  margin: 0px;
  background-image: url("images/castle.jpg");
  background-repeat: no-repeat;
  background-size: 80px 100px;
  color:white;
}

#b7{
  display:inherit;
  padding: 50px;
  text-align: center;
  margin: 0px;
  background-image: url("images/taylor_con.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color:white;
}
#b8{
  display:inherit;
  padding: 50px;
  text-align: center;
  margin: 0px;
  background-image: url("images/banana_boat.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color:white;
}
