h1{
  font-family:"Unica One";
  font-size: 50px;
  margin: 10px;
  padding-left: 20px;
  color: white;
  background-color: lightblue;
}

nav {
  text-align: right;
  background-color: "#F0C4F0";
}
nav ul{
  margin:0;
  display: inline;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
  font-family:"La Belle Aurore";
  font-size:22px;
  margin: 5px 15px;
}
nav ul li a{
  color: black;
}
a{
  color:black;
}
a:link{
  text-decoration:none;
}
p{
  font-family:"Abel";
  font-size: 22px;
  margin: 20px;
}

.center{
    min-height: 150px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle }

.connect{
  text-align: center;
  margin:20px;
  font-family: Open Sans;
}
