{% load static %}
<html>

    <head>
        <title>Bucket List</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/bucketlist.css' %}">
    </head>

    <body>
        <div>
            <h1><a href="/">Bucket List</a></h1>
        </div>

        {% for post in bucket_checked %}
        <div>
            <h2><a href="">{{ post.to_do}}</a></h2>
            <p>{{ post.description }}</p>
            <p>{{ post.location }}</p>
        </div>
        {% endfor %}

        {% for post in bucket_unchecked %}
        <div>
            <h2><a href="">{{ post.to_do}}</a></h2>
            <p>{{ post.description }}</p>
            <p>{{ post.location }}</p>
        </div>
        {% endfor %}
    </body>

</html>